:host {
  --name-color: #34495e;
}

:host-context(.dark-mode) {
  --name-color: #f1e5eb;
}

.container {
  padding-top: 8%;
  padding-bottom: 6%;
  margin: 0 auto;


  p {
    letter-spacing: 0.05rem;
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

.about-para {
  padding-left: 9%;
}

.hobby-para {
  padding-right: 9%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  .abt-img{
    object-fit: cover;
    height: 400px;
    width: 100%;
    border-radius: 100px 0 0 100px;
  }
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--name-color);
}

.slider-container {
  position: relative;
  width: 100%;
  height: 400px; 
  overflow: hidden;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-wrapper.visible {
  opacity: 1;
}

.slider-image {
  border-radius: 0px 100px 100px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

@media screen and (max-width: 600px) {

  .container {
    padding-left: 6%;
    padding-right: 6%;

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .about-para {
    padding-left: 0%;
  }

  .hobby-para {
    padding-right: 0%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .image-container {
    .abt-img{
      max-width: 100%;
      width: auto;
      height: auto;
      border-radius: 8px;
    }
  }
  .slider-image{
    border-radius: 8px;
  }

}

@media (min-width: 600px) {}