:host {
  --name-color: #34495e;
}

:host-context(.dark-mode) {
  --name-color: #f1e5eb;
}

.container {
  padding-top: 8%;
  padding-bottom: 6%;
  margin: 0 auto;


  p {
    letter-spacing: 0.05rem;
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

.about-para {
  padding-left: 9%;
}

.hobby-para {
  padding-right: 9%;
}

/* .image-container {
    text-align: center;
  } */

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    .abt-img{
      object-fit: cover;
      height: 400px;
      width: 100%;
      border-radius: 100px 0 0 100px;
    }
  
    .hobby-img {
      /* position: absolute; */
      object-fit: cover;
      /* opacity: 0; */
      width: 100%;
      height: 400px;
      max-width: 100%;
      border-radius: 0px 100px 100px 0px;
      /* transition: opacity 1s ease-in-out; */
    }
  
    .hobby-img.active {
      opacity: 1;
      z-index: 10;
    }
  }

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--name-color);
}


@media screen and (max-width: 600px) {

  .container {
    padding-left: 6%;
    padding-right: 6%;

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .about-para {
    padding-left: 0%;
  }

  .hobby-para {
    padding-right: 0%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .image-container {
    .abt-img , .hobby-img{
      max-width: 100%;
      width: auto;
      height: auto;
      border-radius: 8px;
    }
    /* height: 200px;
    .abt-img , .hobby-img{
      position: relative;
      max-width: 100%;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }

    .hobby-img{
      position: relative;
      max-width: 100%;
      width: auto;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
    } */
  }

}

@media (min-width: 600px) {}