<div fxLayout="column" fxLayoutGap="55px" fxLayoutGap.lt-md="35px" class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="20px"
        fxLayoutGap.lt-md="25px">
        <div fxFlex="50%" fxFlex.lt-md="100%" class="about-para">
            <h2>Here's My Story</h2>
            <p>
                I graduated from the University of Computer Studies in 2018 with a Bachelor of Computer Science in
                Software Engineering.
                My journey in tech began with an internship developer role in 2017, which provided valuable early
                experience in the field.
            </p>
            <p>
                Following the internship, I launched my career as a junior developer, then advanced to a Software
                Application Developer role in the FinTech industry.
                In this position, I worked on payment systems and live banking applications, gaining specialized
                expertise in financial technology.
            </p>
            <p>
                Today, I am working as a System Analyst in Singapore’s semiconductor industry.
            </p>
        </div>
        <div fxFlex="35%" fxFlex.lt-md="100%" class="image-container">
            <img src="assets/aboutme-img.jpeg" alt="My Story Image" class="abt-img" />
        </div>
    </div>

    <div fxLayout="row-reverse" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="20px"
        fxLayoutGap.lt-md="25px">
        <div fxFlex="50%" fxFlex.lt-md="100%" class="hobby-para">
            <h2>Life Outside the Code</h2>
            <p>
                Beyond coding, I am passionate about traveling and landscape photography, capturing videos, and
                creating fun blogs to share my experiences.
                Staying active is essential to me—I love running, bicycling, swimming, and hiking.
            </p>
            <p>
                I am also committed to making a positive global impact, participating in initiatives like
                tree-planting events.
                As an animal lover, I support animal rescue efforts to contribute to their welfare.
            </p>
        </div>
        <div fxFlex="35%" fxFlex.lt-md="100%" class="image-container">
            <img src="assets/beyondcode.jpeg" alt="My Hobby Image" class="hobby-img" />
        </div>
        <!-- <div fxFlex="35%" fxFlex.lt-md="100%" class="image-container">
            <img *ngFor="let img of images; let i = index" [src]="img" alt="Hobby Image"
                [class.active]="currentImageIndex === i" class="hobby-img" />
        </div> -->

    </div>

</div>